<mat-toolbar color="primary" class="title mat-elevation-z6">
	JSON Editor
	<mat-slide-toggle class="theme-toggle" [(ngModel)]="darkMode" (change)="toggleTheme(darkMode)">
		Dark Mode
	</mat-slide-toggle>
	<button mat-raised-button color="warn" class="reset" (click)="clearStorageOptions()" style="text-transform: uppercase;">
		Reset Storage
	</button>
</mat-toolbar>
<div class="wrapper">
	<div id="jsonEditorCode" class="left"></div>
	<mat-checkbox class="json-option" [(ngModel)]="autoConvert" (change)="setLocalStorage('autoConvertJSON', autoConvert)">
		Auto Convert JSON
	</mat-checkbox>
	<div id="jsonEditorTree" class="right"></div>
</div>
<button mat-raised-button color="primary" class="beautify" (click)="validateJSON('Tree')" style="text-transform: uppercase;">
	Convert JSON
</button>
